<!DOCTYPE html>
<html lang="{{ site.lang | default: 'es-ES' }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title %}{{ page.title }} |{% endif %} Por hablar de otra cosa - Yrjö</title>
  {% assign pagecontent_description = post-content | markdownify | replace: '.', '. ' | replace: '</h2>', '. ' | replace: '</h3>', '.' | replace: '</h4>', '. ' | strip_html | strip_newlines | replace: '  ', ' ' | truncate: 160 %}
  <meta name="description" content="{% if pagecontent_description.size > 10 %}{{ pagecontent_description }}{% else %}{{ site.description }}{% endif %}">
  

<link rel="shortcut icon" type="image/png" href="/img/icon-192x192.png">
<link rel="shortcut icon" sizes="192x192" href="/img/icon-192x192.png">
<link rel="apple-touch-icon" href="/img/icon-192x192.png">

 <!-- Facebook integration -->
<meta property="og:title" content="{% if page.title %}{{ page.title }} |{% endif %} Por hablar de otra cosa - Yrjö"/>
{% if page.image %}<meta property="og:image" content="{{ site.url }}/images/{{ page.image }}"/>{% endif %}
<meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}"/>
<meta property="og:type" content="article">
<meta property="og:site_name" content="{{ site.title }}"/>
<meta property="og:description" content="{% if pagecontent_description.size > 10 %}{{ pagecontent_description }}{% else %}{{ site.description }}{% endif %}"/>
<meta property="og:image" content="{{ site.url }}/images/{{ page.image }}">

<!-- Twitter integration -->
<meta name="twitter:card" content="summary">
{% if site.twitter_url %}<meta name="twitter:site" content="{{ site.twitter_url }}">{% endif %}
<meta name="twitter:title" content="{% if page.title %}{{ page.title }} |{% endif %} Por hablar de otra cosa - Yrjö" />
{% if page.image %}<meta name="twitter:image" content="{{ site.url }}/images/{{ page.image }} />{% endif %}
<meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
<meta name="twitter:description" content="{% if pagecontent_description.size > 10 %}{{ pagecontent_description }}{% else %}{{ site.description }}{% endif %}" />
  

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
<link rel="sitemap" type="application/xml" title="Sitemap" href="{{ "/sitemap.xml" | prepend: site.baseurl | prepend: site.url }}" />

  {% if site.favicon and site.favicon != "" %}
  <link rel="shortcut icon" href="{{ site.favicon | relative_url }}" type="image/png" />
  {% endif %}
  <!-- Styles -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i%7CNoto+Serif:400,400i,700,700i&display=swap" rel="stylesheet">
  
<link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/webshop.css" | prepend: site.baseurl }}">

{% seo %}
</head>
<body>

  <div id="page" class="site">
    <div class="inner">
      {% include header.html %}
      {{content}}
      {% include footer.html %}
    </div><!-- .inner -->
  </div><!-- .site -->

  <!-- Scripts -->
  {% if site.google_analytics %}
    {% include google_analytics.html %}
  {% endif %}
  <script src="{{ '/assets/js/plugins.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/custom.js' | relative_url }}"></script>

{% include cookie_consent.html %}
</body>
</html>
